################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project experimentation/.vs/Project experimentation/FileContentIndex
